# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Build output
dist/
build/
out/
.next/
.nuxt/

# Coverage
coverage/
*.lcov
.nyc_output

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.*

# IDE & OS
.vscode/
.idea/
.DS_Store

# Misc
.cache/
.parcel-cache/
.svelte-kit/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# TurboRepo cache
.turbo/
